body{
    background-color:pink;
margin: 0;
}
h2{padding-top: 20px;
    text-align: center;
    color:orange;
}

.b{

    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;
    width: 15%;
    background-color: black;
}
.pic{
    border-top-right-radius:45% ;
    border-top-left-radius:45% ;
    border-bottom-left-radius:45% ;
    border-bottom-right-radius:45% ;
    width: 150%;
}
.pic1{
        padding-top: 30px;
        padding-left: 50px;
    
}

#top-section-content{
    width: 60%;
    margin-left: 100;
    margin-right: auto;
    margin-top: 0;
}

#top-section-content h4{
    font-size: 1.4em;
    font-weight: 100;
    color: #fff;
   padding-left: 33%;
   width: 100%;
}


.textbox{
    
    color: white;
    width: 100%;
    overflow: hidden;
    font-size:20px;
    padding:8px 0;
    margin: 8px 0;
    border-bottom: 1px solid pink;
}
.text-box input{
    
    outline: none;
    color:white;
    font-size:18px;
    width: 80px;
    float:left;
    margin: 0 10px;
}
.t1 input{
    background-color: black;
      border-color: black;
}

.btn{
    width: 100%;
    background:pink;
     color:white;
    padding: 5px;
    font-size:15px;
    cursor: pointer;
    margin:12px 0;
    border-radius: 10%;
}
.a1{font-size: 12px;
    
    color: pink;
    
}
.b p{
    text-align: center; 
    color: pink; font-size: 11px;
}